<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">


    <servlet>
        <servlet-name>SubmitReport</servlet-name>
        <servlet-class>servlet.user.SubmitReport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubmitReport</servlet-name>
        <url-pattern>/SubmitReport</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>GetHistoryList</servlet-name>
        <servlet-class>servlet.user.GetHistoryList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetHistoryList</servlet-name>
        <url-pattern>/GetHistoryList</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>QueryList</servlet-name>
        <servlet-class>servlet.dep.QueryList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QueryList</servlet-name>
        <url-pattern>/QueryList</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DepDeal</servlet-name>
        <servlet-class>servlet.dep.DepDeal</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DepDeal</servlet-name>
        <url-pattern>/DepDeal</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>QueryStatistics</servlet-name>
        <servlet-class>servlet.fin.QueryStatistics</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QueryStatistics</servlet-name>
        <url-pattern>/QueryStatistics</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateReport</servlet-name>
        <servlet-class>servlet.user.UpdateReport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateReport</servlet-name>
        <url-pattern>/UpdateReport</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteReport</servlet-name>
        <servlet-class>servlet.fin.DeleteReport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteReport</servlet-name>
        <url-pattern>/DeleteReport</url-pattern>
    </servlet-mapping>

</web-app>