*{
    margin: 0;
    padding: 0;
}

/*遮罩层*/
.box{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    line-height: 100%;
    display: none;
}
/*弹出层*/
.boxChild{
    width: 80%;
    height: 100px;
    line-height: 100px;
    position: fixed;
    left: 10%; top: 35%;
    background: black;
    color: white;
    text-align: center;
    font-size: 24px;
}

.confirmTable {
    background-color: white;
    width: 80%;
    height: 40%;
    position: fixed;
    left: 10%;
    top: 20%;
    vertical-align: center;
    text-align: center;
    border: 3px solid saddlebrown;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid green;
}

[name=confirmInput] {
    width: 80%;
    height: 40px;
}

input[type=text] {
    width: 70%;
    height: 22px;
    margin-left: 3px;
    margin-bottom: 3px;
}

/*清除样式*/
textarea,button,select{
    outline: none;
    border: 0;

}
/*缩进12px  文本行高*/
textarea{
    text-indent: 12px;
    line-height: 30px;
}
/*文本所有字体*/
span{
    font-size: 16px;
    font-family:"微软雅黑";font-weight:bold;;
}

p {
    font-size: 12px;
    font-family: "宋体";
}

/*标题头*/
#event{
    width: 100%;
    height: 50px;
    background: #ffffff;
    text-align: center;
    line-height: 50px;
}
/*文本区域*/
#con{
    width: 90%;
    height: auto;
    padding: 10px 5% 30px;
}
#con>div{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/*必填标签i*/
.note{
    float: left;
    width: 1%;
    height: 30px;
    color: red;
    font-style: normal;
    margin-right: 0.5%;
}
#con>div>span{
    width: 45.5%;
    height: 30px;
    float: left;
    letter-spacing: 1px;
}

h4 {
    margin-left: 20px;
}

#con>div>select {
    width: 50%;
    height: 22px;
    line-height: 22px;
    float: left;
    background: rgba(153, 153, 153, 0.10);
}

.divAboveSelect>select{
    width: 53%;
    height: auto;
    float: left;
    background: rgba(153, 153, 153, 0.10);
    margin-left: 20px;
}

.divAboveSelect {
    height: auto;
    overflow: hidden;
    display: block;
}

.divUnderSelect {
    margin-left: 20px;
}

#con .happen{
    height: 30px;
    line-height: 30px;
}
/*多行文本框转块级元素*/
.mode textarea {
    width: 98.5%;
    height: 100px;
    max-width: 98.5%;
    min-width: 98.5%;
    margin-left: 1.5%;
    margin-bottom: 10px;
    background: rgba(153, 153, 153, 0.22);
}
#con .name,#con .number{
    margin-bottom: 10px;
}
/*标签按钮*/
#con .subBtn{
    height: 50px;
    width: 100%;
    display: block;
    text-align: center;
}

.subBtn>button{
    width: 30%;
    height: 50px;
    background-color: #cdcdcd;
}

.subBtn>input{
    width: 50%;
    height: 50px;
    background-color: #cdcdcd;
}

.hrDiv {
    background-color:red;
    height:2px;
    border:none;
}

ul,li{
    list-style: none;
    width: 95%;
    margin-left: 10px;
    font-size: 14px;
}

.dealer_info_div {
    width: 100%; height: auto; font-size: 12px; text-align: right; display: none;
}
.dealer_name {width: 50px; text-align: center;}
.deal_time{width: 130px; text-align: center}